name: Generate Release Note

permissions:
  contents: write

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
    inputs:
      version:
        description: "version v*.*.*"
        required: true
        type: string
      dry_run:
        description: "--dry-run"
        required: false
        default: "false"
        type: choice
        options:
          - "false"
          - "true"

jobs:
  release_note:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run zip
      - name: Generate Changelog
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            VERSION="${{ github.event.inputs.version }}"
          else
            VERSION="${{ github.ref_name }}"
          fi
          awk -v version="${VERSION#v}" '
            $0 ~ "^## \\[" version "\\]" {flag=1; print; next;};
            $0 ~ "^## " && flag {exit;};
            flag {print;};
          ' CHANGELOG.md | tee release-note-body.md
      - name: Create GitHub Release
        if: (github.event.inputs.dry_run || 'false') == 'false'
        uses: softprops/action-gh-release@v2
        with:
          body_path: release-note-body.md
          generate_release_notes: true
          files: |
            dist/chrome.zip
            dist/firefox.zip
