name: Generate Release Note

permissions:
  contents: write

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Extract Version
        id: version
        run: |
          tag="${GITHUB_REF_NAME}"
          echo "version=${tag#v}" >> "$GITHUB_OUTPUT"

  release_note:
    needs: version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run zip
      - name: Install parse-changelog
        uses: taiki-e/install-action@v2
        with:
          tool: parse-changelog
      - name: Create GitHub Release
        run: |
          version="${{ needs.version.outputs.version }}"
          tag="v$version"
          gh release create "$tag" \
            dist/chrome.zip \
            dist/firefox.zip \
            --notes "$(parse-changelog CHANGELOG.md "$version")" \
            --title "$tag"
